<html>
	<head>
	</head>
	<body>
		<h1>Delete Book</h1>
		<form action="{{url_for('deleteBook', book_id = book_id)}}" method = 'POST'>
			<input type='submit' value='Delete'>
		</form>
		<a href="{{url_for('showBook')}}">Cancel</a><br/>
	</body>
</html>